body {
    background-image:    url(img.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}
img{
width:300px;
margin:0px;
}
.login-reg {
width:200px;
height:30px;
background:#353535;
margin-right:30px;
border-radius:6px;
position:absolute;
left:910px;
top:30px;
text-align:center;


}

.login-reg p{
display: inline;
color:white;

}


a{
text-decoration:none;
color:green;
}
a:hover{
text-decoration:underline;
}

.green-search{
color:white;
text-align:center;
font-size:120%;
background:green;
width:110px;
height:30px;
position:relative;
top:-108px;
left:1110px;
border-radius:6px;


}
input{
color:white;
border-style:solid;
border-color:white;
background:#353535;
width:200px;
height:30px;
position:relative;
top:-60px;
left:900px;
}
.advanced-search{
width:200px;
height:30px;
position:relative;
top:-100px;
left:960px;
}
.black-box1{

width: 100%;
height:50px;
position:relative;
top:-50px;
}
.green-box{
background:gray;
height:30px;
width:100px;
position:relative;
left:400px;
border-radius:6px;
top:15px;
text-align:center;

}
.green-box2{
background:gray;
height:30px;
width:100px;
position:relative;
left:510px;
border-radius:6px;
top:-30px;
text-align:center;
}
.green-box3{
background:gray;
height:30px;
width:100px;
position:relative;
left:620px;
border-radius:6px;
top:-76px;
text-align:center;
}
.green-box4{
background:gray;
height:30px;
width:100px;
position:relative;
left:730px;
border-radius:6px;
top:-123px;
text-align:center;
}
.green-box5{
background:gray;
height:30px;
width:100px;
position:relative;
left:840px;
border-radius:6px;
top:-168px;
text-align:center;
}
.green-box6{
background:gray;
height:30px;
width:100px;
position:relative;
left:950px;
border-radius:6px;
top:-215px;
text-align:center;
}
.green-box7{
background:gray;
height:30px;
width:100px;
position:relative;
left:1060px;
border-radius:6px;
top:-260px;
text-align:center;
}
.black-box1 p{
color:red;
}

.big-green{

width:100%;
height:20px;
position:relative;
top:-50px
}
.extra{
position:relative;
left:450px;



}
.extra a{
color:green;
font-size:80%
}
.extra p{
color:white;
display:inline;
}
.second-black-box
{
background:#3F4040;
width:660px;
height:210px;
position:relative;
left:450px;
top:-50px
}
.images{
float:left;

}
.images img{
height:210px;
width:75%;
border-style:solid;
border-color:red;
border-width:1px;
}
.inside-black-box1{
color:#648F06;
font-size:150%;
}
.inside-black-box2{
color:#648F06;
font-size:150%;
}
.inside-black-box2 p{
display:inline;
color:#4B687E;
font-size:75%;
position:relative;
left:-25px;
top:-10px;
}
.inside-black-box2 a{
color:#D5E828;
}
.inside-black-box3  {
color:white;
font-size:75%;
position:relative;
left:-25px;

}
.inside-black-box4  {
color:red;
font-size:75%;
position:relative;
left:-25px;
}
.inside-black-box5  {
background:green;
float:right;
height:22px;
width:40px;
position:relative;
left:-30px;
text-align:center;
border-radius:6px;
}

.inside-black-box5  a{
color:red
}
